html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 30s linear infinite alternate;
    background-image: linear-gradient(-60deg, rgb(52, 154, 194) 50%, rgb(140, 203, 252) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:40s;
}

.bg3 {
    animation-duration:50s;
}


@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}